# Une analyse qui fleure bon les années 50

## Introduction

Cette étude de cas est extraite de l'ouvrage de Jean-Pierre Benzécri
"Analyse des données. Tome 2 : l'analyse des correspondances". Il
s'agit d'une étude réelle dont nous avons complété les
objectifs.

## But

Une enquête a été effectuée auprès de cent fumeurs afin de choisir les
noms de deux nouvelles marques de cigarettes. La première marque est
destinée à une clientèle masculine : L'homme ciblé est un connaisseur
distingué, raffiné mais viril, de niveau socio-économique élevé. La
seconde symbolise un public féminin, élégant, assuré, dynamique.

## Les donées

Douze marques ont été retenues :
- Orly (Orl)
- Alezan (Ale)
- Corsaire (Cor)
- Directoire (Dir)
- Ducat (Duc)
- Fontenoy (Fon)
- Icare (Ica)
- Zodiac (Zod)
- Pavois (Pav)
- Cocker (Coc)
- Escale (Esc)
- Hôtesse (Hot)

Pour évaluer leur image auprès du public, onze attributs ont été
proposés aux fumeurs :
- vieillot - désuet (VD)
- nouveau riche (NR)
- sobre, élégant (SE)
- cocasse - ridicule (CR)
- racé (RA)
- mièvre (MI)
- distingué (DI)
- vulgaire - commun (VC)
- pour un homme (HO)
- pour une femme (FE)
- pour une petite nature (PN)

On a demandé à chacun des cent fumeurs d'associer une ou plusieurs
parques qui selon eux conviennent le mieux.
Le tableau de données est disponible dans le fichier "fume.txt".

In [1]:
import pandas

In [2]:
fume = pandas.read_csv("fume.txt", delim_whitespace=True)

In [3]:
fume

    Orl  Ale  Cor  Dir  Duc  Fon  Ica  Zod  Pav  Coc  Esc  Hot
VD    1    2   14   38   18   10    9    5    9    4    0    1
NR   20    9    1   11   10    9    1    1   20    9    7   12
SE    9   23    1   15    7   11    6    2    7   12    3   17
CR    1    3   15   15    6    5   12   18    4   25    2    2
RA    4   33    7    8    3    6    6    4    5   15    5    3
MI    3    9    1    7    7    5   12    9    6    9    6   13
DI   11    9    1   17    4   21    6    1    5    4    5   27
VC    4    4   32    2    6    0    9    7    3   10   12    7
HO    9   12   23    4    7   13    5    5   10    5   13    9
FE    9    3    9    8    4    2    6    8    1    6   23   33
PN    7    5    2    7   11    2    6   11    9   24   10    5

## Analyse

### Quelles sont les marques les plus citées ? Attributs ?

## Regarder la correlation entre les marques. Quelles sont les marques dont les correlations sont les plus faibles ? Les plus élevées ? Comment interpréter ces résultats ?

## Les publics visés ont-ils des points communs ? Quels sont les attributs correspondants  Pourquoi a-t-on proposé des attributs ne leur correspondant pas ?

## Regarder la correlation entre les attributs. Quelles sont les marques dont les correlations sont les plus faibles ? Les plus élevées ? Comment interpréter ces résultats ?

## En examinant les valeurs propres et leur diagramme, déterminer les axes principaux qu'il faut garder dans les analyses.

**Attention** : nous voulons expliquer les marques par rapports aux attributs. Nos données sont donc les marques. Il faut transposer le tableau de données.

## Interprétation

### Les axes

Pour les axes retenus représeter sous forme d'un histogramme les corrélations aux anciens axes (`correlations[i].plot.bar()`)

interprétations ?

## Choix des marques ? Homme ? Femme ?